<template>
  <div id="app">
    <div>
      <vs-avatar size="70px" src="https://scontent.flpb2-1.fna.fbcdn.net/v/t1.6435-9/115823188_113916857069015_7366624447843204964_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ZdKpQOxOw4YAX_x6kwd&tn=npMzEHUpttUwamQX&_nc_ht=scontent.flpb2-1.fna&oh=c887435fd89e6bd193866af89b31b36b&oe=6146C026"/>
    </div>
    <title>Examen Freddy Sanjines</title>
    <h1>Examen Freddy Sanjines Miranda</h1>
    <h2>Curso: Vue Modulo 1 - ICEI</h2>
    <vs-card>
      <div slot="header" style="text-align: left">
        <vs-alert title="Lista de paises" color="rgb(231, 154, 23)" active="true">
          Esta aplicación muestra los registros de Paises desde un servicio REST de 
          <vs-button color="primary" type="line" href="https://restcountries.eu/">REST COUNTRIES</vs-button>, aplicamos Vuesax como Framework para los elementos, y ud puede quitar o editar los datos de los paises. Luego estos son almacenados en un LocalStorage en el computador mediante los botones Guardar, Recuperar y Limpiar.
        </vs-alert>
        <vs-alert title="NOTAS: Queria que me ayude con estos dos puntos" color="#000000" active="true">
          <ul style="color:#000000">En la modificación, pese a que en el arreglo se modifica, no pude hacer que en la pantalla se muestre la modificación, entonces hice un truco con un localStorage Temporal donde guardo y de ahi recargo todo.</ul>
          <ul style="color:#000000">Puse una propiedad Paging al listado en la tabla, pero el indice ya no funcionaba para la eliminación y edición, queria preguntarle si hay alguna propiedad para eliminar un elemento en base a uno de los atributos.</ul>
        </vs-alert>
      </div>
    </vs-card>
    <vs-card>
      <div slot="header">
          <!-- Tabla de contenido de paises -->
          <vs-table  stripe :data="paises">
      <template slot="header">
        <h3>
          Paises del Mundo
        </h3>
        <h5>{{ total }} Registros</h5>
        <p>
          <vs-card>
            <p>Datos en Pantalla</p>
            <div v-if="iconoEstadoPantalla">
              <p><vs-icon icon="monitor" size="medium" radius bg="green" color="white"></vs-icon></p>
            </div>
            <div>
              <vs-button color="primary" type="filled" @click="fillCountries"  icon="cloud_download">Cargar Paises del Servicio REST</vs-button>
              <vs-button color="danger" type="filled" @click="limpiar" icon="cleaning_services">Limpiar en Pantalla</vs-button>
            </div>
          </vs-card>
        </p>
        <p>
          <vs-card>
            <p>LocalStorage</p>
            <div v-if="iconoEstado">
              <p><vs-icon icon="storage" size="medium" radius bg="green" color="white"></vs-icon></p>
            </div>
            <div>
              <vs-button color="success" type="filled" @click="guardaStorage" icon="save">Guardar en</vs-button>
              <vs-button color="rgb(187, 138, 200)" type="filled" @click="recuperar" icon="file_upload">Recuperar de</vs-button>
              <vs-button type="filled" @click="limpiarStorage" icon="delete">Limpiar</vs-button>
            </div>
          </vs-card>
        </p>
      </template>
      <template slot="thead">
        <vs-th>Nro</vs-th>
        <vs-th>Nombre Pais</vs-th>
        <vs-th>Código</vs-th>
        <vs-th>Capital</vs-th>
        <vs-th>Region</vs-th>
        <vs-th>Nombre Originario</vs-th>
      </template>

      <template slot-scope="{data}">
        <vs-tr :key="indextr" v-for="(tr, indextr) in data" >

          <vs-td :data="data[indextr].Nro" align="center">
            {{data[indextr].Nro}}
          </vs-td>

          <vs-td :data="data[indextr].NombrePais" align="left">
            {{data[indextr].NombrePais}}
          </vs-td>

          <vs-td :data="data[indextr].Codigo">
            {{data[indextr].Codigo}}
          </vs-td>

          <vs-td :data="data[indextr].Capital" align="left">
            {{data[indextr].Capital}}
          </vs-td>

          <vs-td :data="data[indextr].Region" align="left">
            {{data[indextr].Region}}
          </vs-td>

                    <vs-td :data="data[indextr].NombreOriginario" align="left">
            {{data[indextr].NombreOriginario}}
          </vs-td>

          <vs-td>
            <vs-button radius color="warning" type="filled" icon="mode_edit" @click="editCountry(indextr)"></vs-button>
            <vs-button radius color="danger" type="filled" icon="delete" @click="deleteCountry(indextr)"></vs-button>
          </vs-td>
          

        </vs-tr>
      </template>
    </vs-table>
          <!-- Fin tabla de contenido de paises-->
          <vs-prompt
            @cancel="cerrarModal"
            @accept="aceptarModal"
            @close="cerrarModal"
            :active.sync="dialogForm">
            <div class="con-exemple-prompt">
              Datos del Pais
              <vs-input label-placeholder="Nro." v-model="pais.Nro"/>
              <vs-input label-placeholder="Nombre Pais:" v-model="pais.NombrePais"/>
              <vs-input label-placeholder="Codigo:" v-model="pais.Codigo"/>
              <vs-input label-placeholder="Capital:" v-model="pais.Capital"/>
              <!--<vs-input label-placeholder="Region:" v-model="pais.Region"/>-->
              <vs-select
                class="selectRegion"
                label="Region"
                v-model="pais.Region">
                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in regiones" />
              </vs-select>

              <vs-input label-placeholder="Nombre Originario:" v-model="pais.NombreOriginario"/>
            </div>
          </vs-prompt>
      </div>
    </vs-card>
    
  </div>
  
</template>

<script>

  export default {
    name: 'App',
    data() {
      return {
        currentx: 1,
        total: 0,
        indexPais: null,
        // modelo pais
        pais: {
          Nro: '',
          NombrePais: '',
          Codigo: '',
          Capital: '',
          Region: '',
          NombreOriginario: ''
        },
        // opciones regiones
        regiones: [
          { text: 'Africa', value: 'Africa'},
          { text: 'Americas', value: 'Americas'},
          { text: 'Asia', value: 'Asia'},
          { text: 'Europe', value: 'Europe'},
          { text: 'Osceania', value: 'Osceania'},
          { text: 'Polar', value: 'Polar'},
        ],
        // arreglo de paises para mostrar
        paises: [],
        // variable temporal
        listapaises: [],
        // cuadro de Dialogo para mostrar pais
        dialogForm: false,
        // accion Delete, Edit 
        accion: '',
        // indice del registro para modificar o eliminar
        indice: '',
        iconoEstado: false,
        iconoEstadoPantalla: false
      }
    },
  mounted() {
    const existeStorage  = this.$storage.get('paises')
    if (existeStorage) {
      this.iconoEstado = true
    } else {
      this.iconoEstado = false
    }
  },
  methods:
  {
    // fill Countries llena el arreglo de paises y muestra en la pantalla
    async fillCountries () 
    {
      this.listapaises = [];
      this.paises = [];
      // recupera paises del Servicio
      const paisesLeidos = await this.$service.get('https://restcountries.eu/rest/v2/all');
      this.listapaises = paisesLeidos.data;
      const lista = this.listapaises;
      // variable que cuenta los paises
      let nro = 1;
      // recorre el arreglo lista poniendo cada pais en el arreglo de paises
      for (var i in lista) {
        let nuevoPais = {
          Nro: '',
          NombrePais: '',
          Codigo: '',
          Capital: '',
          Region: '',
          NombreOriginario: ''
        };
        nuevoPais.Nro = nro;
        nuevoPais.NombrePais = lista[i].name;
        nuevoPais.Codigo = lista[i].alpha2Code;
        nuevoPais.Capital = lista[i].capital;
        nuevoPais.Region = lista[i].region;
        nuevoPais.NombreOriginario = lista[i].nativeName;
        this.paises.push(nuevoPais);
        nro = nro + 1;
      }
      this.total = this.paises.length;
      this.iconoEstadoPantalla = true;
      // forEach da error
      /*lista.forEach(element => {
        this.pais.Nro = nro;
        //nro = nro + 1;
        this.pais.NombrePais = element.name;
        this.pais.Codigo = element.alpha2Code;
        this.pais.Capital = element.capital;
        this.pais.Region = element.region;
        this.pais.NombreOriginario = element.nativeName;
        this.paises.push(this.pais);
      });
      */
      this.$vs.notify({
            color:'success',
            title:'Service Rest',
            text:'Se recuperó datos del Servicio REST'
          })
    },

    // guardaStorage: almacena el arreglo de paises en el Local Storage
    guardaStorage() {
        localStorage.clear();
        this.$storage.set('paises', this.paises);
        // cambia estado del icono y lo muestra
        this.iconoEstado = true;
        this.$vs.notify({
            color:'success',
            title:'LocalStorage',
            text:'Se guardó datos en el LocalStorage'
          })
    },
    // limpiar: limpia el arreglo y de pantalla
    limpiar(){
      this.paises = [];
      this.iconoEstadoPantalla = false;
      this.total = 0;
    },
    //limpiarStorage: limpia del LocalStorage
    limpiarStorage(){
      localStorage.clear();
      // cambia estado del icono y lo muestra
      this.iconoEstado = false;
      this.total = 0;
      this.$vs.notify({
            color:'primary',
            title:'LocalStorage',
            text:'Se limpió el LocalStorage'
          })

    },
    // recuperar: Lee del localStorage lo almacenado y se muestra en pantalla
    recuperar(){
      this.paises = this.$storage.get('paises');
      this.iconoEstadoPantalla = true;
      this.total = this.paises.length;
      this.$vs.notify({
            color:'rgb(187, 138, 200)',
            title:'LocalStorage',
            text:'Se recuperó datos del LocalStorage'
          })
    },
    // editCountry: con el indice abre el Cuadro de Dialogo y muestra los datos de un pais
    editCountry(index) {
      this.dialogForm = true;
      this.indexPais = index;
      this.pais = {...this.paises[index] };
      this.accion = 'Edit';
      this.indice = index;
    },
    // DeleteCountry: con el indice abre el Cuadro de Dialogo y muestra los datos de un pais
    deleteCountry(index) {
      this.dialogForm = true;
      this.indexPais = index;
      this.pais = {...this.paises[index] };
      this.accion = 'Delete';
      this.indice = index;
    },
    // cerrarModal: Solo cierra el Cuadro de Dialogo
    cerrarModal() {
      console.log('Cerrando')
    },
    // aceptarModal: cuando le dan aceptar, verifica la accion Delete o Edit
    // y lo quita del arreglo y muestra en pantalla
    aceptarModal() {
      if (this.accion == 'Delete')
        {
          // QUITAR EL REGISTRO
          this.paises.splice(this.indice, 1);
          this.total = this.paises.length;
          console.log(this.paises[this.indice].name);
          this.$vs.notify({
            color:'danger',
            title:'Registro Eliminado',
            text:'Se eliminó el registro:' + this.paises[this.indice].name
          })
        }
      if (this.accion == 'Edit')
        {
          // MODIFICAR EL REGISTRO
          this.paises[this.indice] = { ...this.pais };
          console.log(this.paises[this.indice]);
          //veo que en el array si se modifica, pero 
          // en la pantalla NO, por ello le pedi si me
          // podia ayudar, como no se pudo, entonces hice
          // una solucion de guardar en otro localStorage y volver a 
          // cargar de ahi
          this.$storage.set('paisesTemp', this.paises);
          this.paises = [];
          this.paises = this.$storage.get('paisesTemp');
          localStorage.removeItem('paisesTemp');



          this.$vs.notify({
            color:'primary',
            title:'Registro Modificado',
            text:'Se actualizó el registro:' + this.paises[this.indice].name
          })
        }
    },
  }
    
  }

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#vs.notify {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
